/* Estilos generales */
*{
    font-family: "Montserrat", sans-serif;
    margin: 0%;
}
.logotipo{
    width: 11rem;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0;
}

.index-header{
    background-image: url(../img/Fondoheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh; 
    padding-left: 2rem; 
    padding-right: 2rem;
}

.index-header-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}

.nav-superior ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.p-index-header, .h1-header{
    color: rgb(0, 0, 0);
}

.h1-heder-flex{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    height: 37vh;
    max-width: 30rem;
}

/* Estilos main */
.h2-index{
    text-align: center;
    padding: 30px;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 4.3rem;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;

}

.card-camara{
    width: 20rem;
    background-color: rgb(255, 156, 206);
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 40px;
    
}

.card-camara img{
    width: 100%;
}

.descripcion{
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

.card-camara-precio{
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.card-camara-precio span{
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}

.card-camara-btn{
    width: 100%;
    background-color: rgb(255, 224, 251);
    border: none;
    padding: 0.7rem;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.9rem;

}

.logotipo-footer
{
    width: 3rem;
    height: 3rem;
}

footer{
    margin: 2rem;
}

.contenedor-footer{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.p-3 {
    padding: 1rem !important;
}

.footer-container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;
    margin: 1rem auto;
}

.footer-container-primerHijo {
    grid-area: 1 / 2 / 2 / 4;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.199);
}

.footer-container-segundoHijo {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.199);
}

.footer-container-tercerHijo {
    grid-area: 2 / 1 / 4 / 4;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.199);
}

@media only screen and (min-width: 900px ){
   
   .h1-heder-flex {
    height: 75vh;
   }
    ul,.index-header-flex{
    flex-direction: row;
}

}